.Card {
  border: 1px solid grey;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 250px;
}

.Card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px; 
}

.Card-image {
  border-radius: 16px;
}

p {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
